In [27]:
import numpy as np
import pandas as pd
import pandas as pandasForSortingCSV

In [8]:
df = pd.read_csv("aspiring-human-resource-final.csv")
df.head()

,titles,Tfidf,BERT,GloVe,Score
0,2019 C.T. Bauer College of Business Graduate (...,0.028660,0.572329,0.448483,0.572329
1,Native English Teacher at EPIK (English Progra...,0.286827,0.611550,0.572107,0.611550
2,Aspiring Human Resources Professional,0.046446,0.637651,0.074337,0.637651
3,People Development Coordinator at Ryan,0.035723,0.638973,0.512607,0.638973
4,Advisory Board Member at Celal Bayar University,0.148658,0.589674,0.737181,0.589674

In [ ]:
pd.set_option('display.max_rows', None)
df

In [ ]:
def ranking():
    print(df)
    selected_candidates = []
    n = int(input("Select the best suited candidates: "))
    selected_candidates.append(n)
    cont = input("Do you wish to select more? Y/N ")
    while cont == 'Y' or cont == 'y':
        new_cand = int(input("Select the best suited candidates: "))
        selected_candidates.append(new_cand )
        check = input("Do you wish to select more? Y/N ")
        if check == 'N' or check == 'n':
            break
    print(selected_candidates)

In [ ]:
ranking()