In [31]:
from sentence_transformers import SentenceTransformer
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [49]:
# df = pd.read_csv("seeking-human-ranked.csv")
df = pd.read_csv("aspiring-human-ranked.csv")
df

,Unnamed: 0,titles,Tfidf,BERT,GloVe,Score,label
0,0,2019 C.T. Bauer College of Business Graduate (...,0.028660,0.572329,0.448483,0.572329,1.0
1,1,Native English Teacher at EPIK (English Progra...,0.286827,0.611550,0.572107,0.611550,1.0
2,2,Aspiring Human Resources Professional,0.046446,0.637651,0.074337,0.637651,1.0
3,3,People Development Coordinator at Ryan,0.035723,0.638973,0.512607,0.638973,1.0
4,4,Advisory Board Member at Celal Bayar University,0.148658,0.589674,0.737181,0.589674,1.0
...,...,...,...,...,...,...,...
98,98,Seeking Human Resources Position,0.067765,0.674440,0.189531,0.674440,1.0
99,99,Aspiring Human Resources Manager | Graduating ...,0.078586,0.574616,0.342187,0.574616,1.0
100,100,Human Resources Generalist at Loparex,0.080351,0.526401,0.195974,0.526401,1.0
101,101,Business Intelligence and Analytics at Travelers,0.029344,0.573241,0.651473,0.573241,1.0
102,102,Always set them up for Success,0.123387,0.606319,0.594103,0.606319,1.0

In [50]:
y = df['label']

In [51]:
model_name = 'bert-base-nli-mean-tokens'

In [52]:
embed_model = SentenceTransformer(model_name)

In [53]:
sentence_vec = embed_model.encode(df['titles'])

In [54]:
sentence_vec.shape

(103, 768)

In [55]:
X = sentence_vec

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [57]:
input_size = 768
num_classes = 1

In [58]:
model = Sequential()

In [59]:
model.add(Dense(input_size, activation='relu', input_shape=(input_size,)))
model.add(Dense(128, activation='relu'))
model.add(Dense(num_classes, activation='softmax'))

In [60]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [61]:
history = model.fit(X, y,
                    batch_size=128,
                    epochs=10,
                    verbose=1,
                    validation_data=(X_test, y_test))

Epoch 1/10
1/1 [==============================] - 0s 194ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 2/10
1/1 [==============================] - 0s 9ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 3/10
1/1 [==============================] - 0s 11ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 4/10
1/1 [==============================] - 0s 12ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 5/10
1/1 [==============================] - 0s 10ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 6/10
1/1 [==============================] - 0s 10ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 7/10
1/1 [==============================] - 0s 11ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 8/10
1/1 [==============================] - 0s 10ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 9/10
1/1 [==============================] - 0s 10ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048
Epoch 10/10
1/1 [==============================] - 0s 11ms/step - loss: 0.0000e+00 - accuracy: 0.9417 - val_loss: 0.0000e+00 - val_accuracy: 0.9048